{% load static %}

<div class="fixed-top">
<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #ffaa00">
  <a class="navbar-brand" style="color: white;" href="{% url 'ReviewApp:index' %}">食べログ</a>
  <button class="navbar-toggler"type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'ReviewApp:index' %}">Home <span class="sr-only">(current)</span></a>
      </li>
        {% if user.is_authenticated %}
        <li class="nav-item">
            <a class="nav-item nav-link" href="{% url 'ReviewApp:logout' %}" style="color: white">ログアウト</a>
        </li>
        {% else %}
        <li class="nav-item">
            <a class="nav-item nav-link" href="{% url 'ReviewApp:login' %}" style="color: white">ログイン</a>
        </li>
        <li class="nav-item">
            <a class="nav-item nav-link" href="{% url 'ReviewApp:signup' %}" style="color: white">新規会員登録</a>
        </li>
        {% endif %}
    </ul>

      <form action="{% url 'ReviewApp:search' %}" method="get" name="searchform">
          <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                  <select name="pref" class="form-control nav-link">
                      <option value="" disabled selected style="display: none;">都道府県</option>
                      {% for item in pref_list %}
                      <option value="{{ item.pref }}">{{ item.name }}</option>
                      {% endfor %}
                  </select>
              </li>
              <li class="nav-item">
                  <select name="category_l" class="form-control nav-link">
                      <option value="" disabled selected style="display: none;">カテゴリ</option>
                      {% for item in category_list %}
                      <option value="{{ item.category_l }}">{{ item.name }}</option>
                      {% endfor %}
                  </select>
              </li>
          <li class="nav-item">
              <input type="text" class="form-control nav-link" placeholder="フリーワード" aria-label="Search" name="freeword">
          </li>
          <span> </span>
          <li class="nav-item">
              <button type="submit" class="btn common-btn" style='border-color: white; color: white'>検索</button>
          </li>
          </ul>
      </form>
  </div>
</nav>
</div>